# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "WS9IYU5615rCM3REiyA4mZopiEZLo4NMvpwS8yYulylGIO19EuhL5ssY1tsGalVIU7gubnMc/cyFgBdt0GxAUb6nLOOBKgyqwZsZcPbCQd2fBs6X1F2+pN8Svv3hm74VjBo1KV0k1P1gnW9FtZTds4ph2MDb2RUahTRciZL5l1DrrK/9c7kj40hseRd0AxqZnd+ROV6fsH2tkMddbyzzUJBS2224ZstJCleRJSnp0j3L6mXU+lL9/WbitlnelKkf2gMzCLZ3ojvT32XuMK3vIs8SlEO3pLWukaAeethijqe2lpxZKms59Ysk3Xr2B38p29FykHkrhSJxnBGtLpXGV2Ysw+Y/sz/cIoX0hKh61zk4zFGgc0xCiOxaTwNThacFLsZ1Q95+MVGV065QSkH2gtwyycpHQetGBZoW5DxK4cR0K60JZQ25HIJptRAUltIIxw4H7/iZ3wERbRNB9ZO3sCcu2TUaLLjz5Q5g1rH5YY01aDXb8B1ULh/WDRc/1ynqqvhHetSXnZev/wmDxZVlbMQP62FOwhKhQ4GeScMs+P0LZEnMc7yBIFGgQHDLHVgFljgq487dBza+h0jPPWKn0EbvbPIC/hx+ahKdWZF6eassHhNeYWrqgIC+tGFMe83Zhpxn8N8Xf7pGKeYFR82F89Cd89CKCU24eiHiOs2D0Bs="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-ci-setup=1
      source run_conda_forge_build_setup

script:
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml

  - upload_or_check_non_existence ./recipe conda-forge --channel=main -m ./.ci_support/${CONFIG}.yaml
